# Environment variables
.env
.env.*

# Service account
service-account.json

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
.port
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db